<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1" 
	>
<display-name>ticketUnlaWeb</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  
<!--   ControladorTraerAuditorio -->
  <servlet>
  	<servlet-name>ControladorTraerAuditorio</servlet-name>
  	<servlet-class>controladores.ControladorTraerAuditorio</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorTraerAuditorio</servlet-name>
  	<url-pattern>/ControladorTraerAuditorio</url-pattern>	
  </servlet-mapping>
  
<!--   ControladorTraerEvento -->
  <servlet>
  	<servlet-name>ControladorTraerEvento</servlet-name>
  	<servlet-class>controladores.ControladorTraerEvento</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorTraerEvento</servlet-name>
  	<url-pattern>/ControladorTraerEvento</url-pattern>	
  </servlet-mapping>
  
  <!--   ControladorTraerFuncion -->
  <servlet>
  	<servlet-name>ControladorTraerFuncion</servlet-name>
  	<servlet-class>controladores.ControladorTraerFuncion</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorTraerFuncion</servlet-name>
  	<url-pattern>/ControladorTraerFuncion</url-pattern>	
  </servlet-mapping>
  
    <!--   ControladorTraerSector -->
  <servlet>
  	<servlet-name>ControladorTraerSector</servlet-name>
  	<servlet-class>controladores.ControladorTraerSector</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorTraerSector</servlet-name>
  	<url-pattern>/ControladorTraerSector</url-pattern>	
  </servlet-mapping>
  
<!--   ControladorHacerGrilla -->
   <servlet>
  	<servlet-name>ControladorHacerGrilla</servlet-name>
  	<servlet-class>controladores.ControladorHacerGrilla</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorHacerGrilla</servlet-name>
  	<url-pattern>/ControladorHacerGrilla</url-pattern>	
  </servlet-mapping>
  
<!--   ControladorHacerReserva -->
   <servlet>
  	<servlet-name>ControladorHacerReserva</servlet-name>
  	<servlet-class>controladores.ControladorHacerReserva </servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorHacerReserva</servlet-name>
  	<url-pattern>/ControladorHacerReserva</url-pattern>	
  </servlet-mapping>  
  
  <!--   ControladorReservaNumerada -->
   <servlet>
  	<servlet-name>ControladorReservaNumerada</servlet-name>
  	<servlet-class>controladores.ControladorReservaNumerada </servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorReservaNumerada</servlet-name>
  	<url-pattern>/ControladorReservaNumerada</url-pattern>	
  </servlet-mapping>  
  
  <!--   ControladorReservaPopular -->
   <servlet>
  	<servlet-name>ControladorReservaPopular</servlet-name>
  	<servlet-class>controladores.ControladorReservaPopular </servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorReservaPopular</servlet-name>
  	<url-pattern>/ControladorReservaPopular</url-pattern>	
  </servlet-mapping>  
</web-app>